{% extends "base.html.twig" %}
{%block title%}{{ article.titre }}{%endblock%}
{%block body%}
    <div id="block-article-detail">
        <h2 class="h2-detail">{{article.titre | raw }}</h2>
        {%if article.images | length > 0 %}
            <figure class="img-display-layout">
                <img src="/Slyboot-1.1.0/resources/public/uploads/images/articles/{{article.images.0.name}}"
                alt="{{article.images.0.titreImage}}" id="image-display-layout"/>
               {# <figcaption>
                    {{article.images.0.titre}}<br>
                    Photo prise par <b>{{article.images.0.photographe}}</b>,
                    Licence : {{article.images.0.droit}}
                </figcaption>
                #}
            </figure>
        {%else%}
            <figure>
                <img src="/Slyboot-1.1.0/ui/images/no_picture_yet.jpg" alt="img-art"/>
            </figure>
        {%endif%}
        {%if article.images | length > 1 %}
            <div id="image-thumbnail-container">
                {%for image in article.images %}
                    <figure class="img-thumbnail">
                       <img alt="img-thumb" src="/Slyboot-1.1.0/resources/public/uploads/images/articles/{{image.name}}" class="img-thumb">
                    </figure>
                {%endfor%}
            </div>
        {%endif%}
        
        {{article.contenu | raw }}
        
        <p>
            Publié par <b>{{article.auteur | raw }}</b>
            le <i>{{article.dateDePublication}}</i>
        </p>
        <p>Statut : {{article.statut | raw }}</p>
        {% if user.isConnected %}
            {%if user.isGrantRole("ROLE_EDITOR") %}
                {%if article.auteur==user.infos.username%}
                    <div class="b-action">
                        <a href="/Slyboot-1.1.0/article/edit/{{article.id}}" class="btn"><i class="icon-edit"></i>Modifier</a>
                        <a href="/Slyboot-1.1.0/article/remove/{{article.id}}" class="btn btn-action" id="rm-article-link">
                            <i class="icon-trash"></i>Supprimer
                        </a>
                        <a href="/Slyboot-1.1.0/image/add/{{article.id}}" class="btn" id="add-image-link">
                            <i class="icon-picture"></i>Ajouter une image à l'article
                        </a>
                    </div>
                {%endif%}
            {%endif%}
        {%endif%}
    </div>
{%endblock%}